@mixin screen($size) {
  @if $size == tablet {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  } @else if $size == mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}

@mixin scroll {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
}

@mixin hiddenScroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none; /* 스크롤바 영역을 숨김 */
  }
}

@mixin visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
