$--text-tmoney: 'Tmoney';

@mixin set-font-styles(
  $weight,
  $size,
  $spacing: null,
  $family: null,
  $line-height: null
) {
  font-weight: $weight;
  font-size: $size + px;

  @if $family {
    font-family: $family;
  }

  @if $line-height {
    line-height: $line-height;
  } @else if $size >= 28 {
    line-height: 1.3;
  }

  @if $spacing {
    letter-spacing: $spacing;
  }
}
@mixin pr($size, $line-height: null) {
  @include set-font-styles(400, $size, $line-height: $line-height);
}
@mixin ps($size, $line-height: null) {
  @include set-font-styles(
    600,
    $size,
    $line-height: $line-height,
    $spacing: normal
  );
}

@mixin pb($size, $line-height: null) {
  @include set-font-styles(
    700,
    $size,
    $line-height: $line-height,
    $spacing: normal
  );
}

@mixin tb($size, $line-height: null) {
  @include set-font-styles(
    normal,
    $size,
    $line-height: $line-height,
    $family: $--text-tmoney
  );
}

@mixin stopDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
