@use '../styles/index' as *;

.button {
  @include flex-row {
    justify-content: center;
  }
  z-index: 1;
  flex-shrink: 1;
  width: 100%;
  height: 80px;
  border-radius: 2rem;
  border: none;

  background-color: $main100;
  color: $gray100;
  @include tb(28, 1);

  transition: background-color 0.5s;
  cursor: pointer;

  &:disabled {
    background-color: $gray400;
    cursor: default;
  }
  &.isGray {
    background-color: $gray400;
  }
  &.isSub {
    flex-grow: 1;
    height: 72px;
    @include pb(24, 1);
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #fff;
  font-size: 6px;
  top: -2rem;
  position: relative;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -4em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 4em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
