@use '../styles/index' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.description {
  font-size: 1rem;
  color: $gray600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0.5rem;

  @include screen(mobile) {
    font-size: 0.9rem;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
